.searchInput {
  background-color: white !important;
  border-radius: 15px;
  overflow: hidden;

  input {
    height: 50px !important;
  }

  button {
    height: 50px !important;
    border: 0 !important;
    border-radius: 0 !important;
  }

}
