.ant-picker {
  background: #f7f8f9 !important;
  border-radius: 15px !important;
  height: 50px !important;
}
.ant-picker-focused {
  border: none !important;
}
.ant-picker-input > input {
  width: 85px !important;
}
