.indexButton {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(176, 183, 195, 0.1);
  border-radius: 15px;
  font-weight: 500;
  font-size: 16px;
}
