textarea {
  padding: 24px 32px !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  color: #b0b7c3 !important;
  border: none !important;
  border-radius: 15px !important;
  background: rgba(176, 183, 195, 0.1) !important;
}
